body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
}

.header-left {
  position: fixed;
  width: 15%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: var(--cor--primaria);
  border-right: 3px solid var(--cor--primaria);
}

.header-left a img {
  width: 100%;
  height: 40%;
}

.header-left a {
  text-decoration: none;
  color: black;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 50%;
  height: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--cor--secundaria);
  padding: 6px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-nav h3 {
  font-size: 1.1rem;
}

.button {
  border: none;
  background: var(--cor--secundaria);
}

.kpi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
}


.kpicontainer {
  /* flex-direction: row; */
  margin-left: 180px;
  padding: 40px;
  background-color: var(--cor--primaria);
  width: 400px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

.kpiGrafico {
  width: 50%;
  height: 600px;
}

.kpiBarra > canvas{
  width: 100%;
  height: 400px;
  padding: 20px;
}

.kpiHistoriograma > canvas {
  width: 100%;
  height: auto;
  padding: 20px;
}

.grafico {
  width: 80%;
  height: auto;
}

.dash {
  width: 70%;
  height: 30%;
  margin: 0 0 0 400px
}

#myRadarChart > canvas{
  width: 70%;
  height: 50%;
  /* margin: 0 0 0 200px; */
  padding: 20px;
}