body {
    width: 100%;
    height: 100dvh;
}
main {
    background-image: url(../assets/img/Fundo_loginRedmensionada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
}
.invi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
    max-width: 700px;
    height: 550px;
    padding: auto;
    background-color: #1110107e;
    border-radius: 20px;
}
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60%;
    width: 80%;
    padding: 10px;
}
.card > .title {
    font-size: 1.6rem;
    color: white;
    margin-top: 60px;
}
.card > input {
    width: 95%;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}
.button > button{
    margin-top: 40px;
    width: 145px;
    height: 34px;
    margin-right: 15px;
    border-radius: 16px;
    border: none;
    background-color: var(--cor--button);
    color: black;
    font-weight: 550;
    transition:  all 0.5s;
}
button:hover {
    background-color: var(--cor--secundaria);
    transform: scale(1.1);
    cursor: pointer;
}